/target
*.class
*.log
.DS_Store
.factorypath

# IntelliJ
.idea/
*.iml

# Editor
*~
.classpath
.project
.settings

# Application specific
*.deb
*.dmg
*.msi
dependency-reduced-pom.xml
packages
unattach.log*
tmp
*.zip
Unattach.app
